@model CameraShop.Models.Models.Category
@{
    ViewData["Title"] = "Upsert";
    var title = "Create Category";
}

<h1>Upsert</h1>

<form method="post" asp-action="Upsert">
    <div class="border row p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(Model.Id != 0)
        {
            //Edit Partial View
            title = "Edit Category";
        }
        <h2 class="text-primary">@title</h2>
    </div>
    <div class="row border p-3 form-group">
        <div class="form-group">
            <div class="col-4">
                <label asp-for="Name" class="form-label mt-4"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" type="text" class="form-control" placeholder="Category">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="mt-4">
                @if (Model.Id != 0)
                {
                    <partial name="_EditAndBackToListButtons.cshtml" model="Model.Id" />
                }
                else
                {
                    <partial name="_CreatAndBackToListButtons.cshtml" />

                }
            </div>
        </div>
    </div>
      

</form>