<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-secondary">Create</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-link">Back To List</a>
    </div>
</div>